*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:"Alata",sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #0a011a ;
    
 }
 main{
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 header{
    padding: 30px;
    background: #ddda07;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
 }
 header h1{
   color: #0a011a;
 }
 .cerrarMenu{
  position: absolute;
  overflow: hidden;
  height: 0;
 }
 nav {
    margin: 10px;
    background: #666;
    border-radius: 15px;
 }
 nav ul {
    list-style: none;
}


 nav ul li{
    display: inline-block;
    margin: 5px 15px;

 }
 nav ul li a {
    color: aliceblue;
    text-decoration: none;
 }
 nav ul li a:hover{
    color: #dcc;
 }

 .titulo_index {
  color: #e3f303;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px #e3f303;
  border: 4px solid #e3f303;
  padding: 0.5em;
  border-radius: 15px;
  margin-bottom: 20px;
 }
 section h2 {
  color: #e3f303;
  margin-top: 1em;
 }

 p{
  margin: 1em ;
 }

 .card-container-proyects{
  display: flex;
  flex-direction: column; 
  background: #0a011a;
  padding: 15px;
  align-items: center;
} 

  .card{
  background: #fff;
  box-shadow: 0 0 13px #e3f303 ;
  margin-top: 40px ;
  border-radius: 20px;
  padding: 20px;
  display: inherit;
  flex-direction: row ;
  flex-wrap: wrap;
  width: 600px;
  justify-content:space-around;
  align-items: center;
 
}
.card .card-text{
  width: 250px;
  display: inherit;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.card .card-text a{
 text-decoration: none ;
 color: #e3f303;
 background: #0a011a;
 border:2px solid #e3f303; 
 padding: 0.5em;
 border-radius: 7px;
 box-shadow:  0 0 7px #0a011a;
 width:fit-content;
 opacity: 0.9;
}
.card .card-text a:hover{
 padding: 0.7em;
 color: #949e07;
 border-color: #949e07;
}


#card-text-plc{
 width: 200px;
}
.card .card-img{
  border: 1px solid #0a011a;
  display: inline;
  height: 200px;
  box-shadow: 0 0 8px #0a011a;
  border-radius: 10px;
}

.card .card-img img{
  width:100% ;
  height: 100%;
  border-radius: 10px;
}  

footer{
  background-color: #e3f303;
  padding: 1.4em;
}
.footer-container{
  border-top: 1px solid #0a011a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:9px 12px ;
}
.redes-sociales{
  display: flex;
  gap: 20px;
}
.texto{
display: flex;
align-items: center;
gap: 15px;
}
.footer-container .escuela {
  border: 2px groove #0a011a ;
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
  border-radius: 8px;
  padding: 0.3em;
  align-items: center;
  box-shadow: 0 0 5px #0a011a;
}
footer img{
  width:35px ; 
 }

 /* ---------------------------ESTILOS DE LA SECCION DE FUNDAMENTOS ----------------------*/
 .fundamentos p{
  color: aliceblue;
 }
 .fundamentos h1, .fundamentos h2,.fundamentos h3,.fundamentos h4{
 color: #e3f303;
 }
 .conteiner_contaminacion{
  display: flex;
  padding: 0.5em 2em;
 }
 .conteiner_contaminacion ul li{
  text-decoration: none;
  font-size: large;
  color: aliceblue;
  margin: 0.6em 3em;
 }
 .conteiner_contaminacion img{
height: 45%;
width: 45%;
border: 4px solid #e3f303;
border-radius: 8px;
box-shadow:0px 0px 20px #e3f303;
margin-left: 1em;
 }
 @media (max-width: 750px){
  .conteiner_contaminacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  .conteiner_contaminacion img{
    width: 75%;
  }
 }


 /*-----------------------------------------------------------------------------------------*/

  /*----------------------ESTILOS DE LA SECCION PROYECTO-------------------------*/

  .conteiner_introduccion{
    border: 5px solid #e3f303;
    box-shadow: 0px 0px 14px#e3f303;
    border-radius: 20px;
    margin: 50px;
    background-image: url(../imagenes/Proyecto_celular_eficiencia.jpg);
    overflow: hidden;
    background-size: 100% 100%;
  }
  .proyecto .conteiner_introduccion p {
    color:#e3f303;
    margin: 5rem 12rem;
    font-size: large;
    padding: 2rem;
    background-color: #0a011a95 ;
    border: 5px solid #e3f303a1;
    border-radius: 8px;
    box-shadow: 0px 0px 13px#0a011a95;
  }
  .proyecto .conteiner_descripcion_del_proyecto h2{
    color: aliceblue;
    margin: 5px;
  }
  .proyecto .conteiner_descripcion_del_proyecto p{
    color: aliceblue;
  }
  @media (max-width:720px){
    .proyecto .conteiner_introduccion p{
      font-size: small;
      margin: 2rem 5rem;
      padding: 1rem;
    }
    .conteiner_introduccion{
      background-size: 50% 50%;
    }
  }



  /*_-----------------------------------------------------------------------------*/
  

  /*---------------------------ESTILOS DE LA SECCION FUNDAMENTOS-----------------------------*/
  .fundamento a {
   text-decoration: none;
   color:#e3f303;
  }
  .fundamento p a :hover{
   font-weight: 800;
   color: #919b09;
  } 
  .fundamento p{
color: aliceblue;
  }

  .fundamento h2{
    color: aliceblue;
  }
   .fundamento-texto-1{
  color: aliceblue;
}

#texto-del-caorusel{
  color: #0a011a;
  background: #e3f303;
  opacity: 0.8;
  border-radius: 15px;
  width: 87%;
  margin: auto;
  margin-bottom: 10px;
}
#fundamento button {
  color: #e3f303 ;
  background: #666
} 


   /*_-----------------------------------------------------------------------------*/

/*-----------------------ESTILOS DE TEORIA-------------- */

.header-secundario{
  background-color: #0a011a;     /*prueba de estilos*/
 
}
.header-secundario h1{
  color: #e3f303;
}

.header-secundario li a{
  color: #e3f303;
}
.body-teoria {
 background-color: #0a011a; 

}
.body-teoria main p{
  color: aliceblue;
}
 /*_-----------------------------------------------------------------------------*/

/*---------------------ESTILOS DE CONTACTO-----------------*/
h2{
  color: aliceblue;
  text-align: center ;
}
form label{
  color: aliceblue;
}
form button{
  margin-top: 15px;
}
.h3-de-contacto{
  color: aliceblue;
}
.contacto-contenedor-texto{
  border: 5px dotted  ;
  margin-top: 20px;
  margin-bottom: 40px;
}
.contacto-contenedor-texto p{
  padding: 8px;
  color: aliceblue;
}

 /*_-----------------------------------------------------------------------------*/
@media (min-width:769px){
.contenedor-icono-menu img{
position: absolute;
height: 0;
overflow: hidden;
}
.cerrar_menu{
  position: absolute;
  height: 0;
  overflow: hidden;
}
}
@media (max-width:768px){
  body{
    padding: 0;
  }
  header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
  }
  header h1{
   font-size: large;
   margin: 0;
  }
  .contenedor-icono-menu{
   display: flex;
   justify-content: center;
   margin: 0;
  }
  .contenedor-icono-menu img{
    width: 35px;
    margin: 0;
  }
  .contenedor-icono-menu a {
    text-decoration: none;
    color: #666;
    font-size: small;
  }
  .cerrar{
    height: 25px;
    width: 20px;
  }
  header nav {
    background: none;
  }
  header nav ul{
    height: 0;
    overflow: hidden;
    background: #0a011a;
    border-radius: 10px;
  }
  header nav ul li{
     display: block;
    border: 3px solid #e3f303 ;
    padding: 0.25em;
    border-radius: 10px;
    box-shadow: 0 0 2px #e3f303;
  }
p{
  margin: 5px;
}
  #navegacion:target .menu-desplegable{
         height: 19em;
         padding: 0.5em;
  }
  .card-container-proyects{
    display: flex;
  
    }
    .card{
      flex-direction: column-reverse;
      width: auto;
      
    }
    .card-img{
      margin-bottom: 5px;
      object-fit: cover;
    }
    .footer-container{
        flex-direction: column;

    }
    .footer-container div{
      margin: 10px;
    }
}  
@media (max-width:400px){
.card{
  width: 200px;
  height: auto;
  padding: 0;
}
.card-text{
max-width: 190px;;  
}
  .card p , h3{
  font-size: small;
  margin: 5px;
  text-wrap: wrap;
}
.card-img img{
  object-fit: cover;
  width: auto;
}
.card-img{
  margin-bottom: 5px;
  width: auto;
  margin: 0;
}
}
